<!doctype html><html><head>
  <meta charset=utf8>
  <title>H2OSEG</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    [small]{
      font-size:smaller;
    }
    [left]{
      text-align:left;
    }
    summary:hover{
      cursor:pointer;
      text-decoration:underline;
    }
    tr[sticky]{
      position:sticky;
      top:0;
      background:#eee;
    }
  </style>
<head><body>
<h1>H2OSEG (en construcció)</h1>

<div id=app>
  <table border=1>
    <tr>
      <th colspan=100 left>
        Carregar fitxers CSV
      </th>
    </tr>

    <tbody v-for="nom_csv in ['noms','sequera','cabals']">
      <tr>
        <td>
          {{info[nom_csv]}}
        </td>
        <td>
          <input type=file @change="load_csv($event,nom_csv)" :disabled="fitxers[nom_csv]" :nom_csv="nom_csv">
          <button
            v-if="fitxers[nom_csv]"
            @click="fitxers[nom_csv]=null;esborra_input(nom_csv)"
          >
            esborrar
          </button>
        </td>
      </tr>
      <tr v-if="fitxers[nom_csv]">
        <td colspan=100>
          <details>
            <summary>Fitxer carregat ("{{nom_csv}}")</summary>
            <table border=1 small style="border-collapse:collapse">
              <tr v-for="row in fitxers[nom_csv]">
                <td v-for="cell in row">{{cell}}</td>
              </tr>
            </table>
          </details>
        </td>
      </tr>
    </tbody>

    <tr>
      <td>
      <td>
        <button
          :disabled="!fitxers.noms || !fitxers.sequera || !fitxers.cabals"
          style="padding:0.618em 1em"
          @click="processar_taules()"
        >Processar taules
        </button>
      </td>
    </tr>
  </table>

  <div v-if="taula_final">
    <hr>
    <b>Taula resultant ({{taula_final.taula_cabals.length}} files)</b>
    <table border=1 small>
      <tr sticky>
        <th>codi_sad</th>
        <th>any</th>
        <th>nom_dada</th>
        <th>valor_cabal</th>
        <th>metadata</th>
      </tr>
      <tr v-for="row in taula_final.taula_cabals">
        <td>{{row.codi_sad}}</td>
        <td>{{row.any}}</td>
        <td>{{row.nom_dada}}</td>
        <td>{{row.valor_cabal}}</td>
        <td>
          <details>
            <summary>metadata</summary>
            <table border=1>
              <tr v-for="val,key in row.metadata">
                <td>{{key}}</td>
                <td>{{val}}</td>
              </tr>
            </table>
          </details>
        </td>
      </tr>
    </table>
  </div>
</div>

<script>
  let app = Vue.createApp({
    data(){return{
      fitxers:{
        noms:null,
        sequera:null,
        cabals:null,
      },

      taula_final:null,

      info:{
        "noms":"NOMS (info)",
        "sequera":"ESTAT SEQUERA (anys)",
        "cabals":"CABALS",
      },
    }},

    methods:{
      load_csv(event,nom_csv){
        if(!nom_csv) return;
        console.log({nom_csv});
        let reader = new FileReader();
        reader.onload=function(){
          let csv = reader.result;
          let taula = app.processa_csv(csv);
          app.fitxers[nom_csv] = taula;
        };
        reader.readAsText(event.target.files[0]);
      },

      processa_csv(csv){
        let taula=[];
        let linies = csv.split("\r\n").filter(n=>n);
        linies.forEach(linia=>{
          let nova_linia = linia.split(";");
          taula.push(nova_linia);
        });
        return taula;
      },

      esborra_input(nom_csv){
        let el = document.querySelector(`input[nom_csv=${nom_csv}]`);
        if(el) el.value='';
      },

      processar_taules(){
        let noms    = this.fitxers.noms;
        let sequera = this.fitxers.sequera;
        let cabals  = this.fitxers.cabals;
        if(!noms || !sequera || !cabals){
          throw({noms,sequera,cabals});
        }

        //genera diccionari noms
        let dicc_noms={};
        noms.forEach((row,i)=>{
          if(i==0){
            for(let j=0;j<row.length;j++){
              row[j] = row[j].trim();
            }
            return;
          }
          let codi_sad = row[0]; //codi_sad
          let obj={};
          for(let j=1;j<row.length;j++){
            let key = noms[0][j];
            let val = row[j];
            obj[key]=val;
          }
          dicc_noms[codi_sad]=obj;
        });

        //genera diccionari anys estat sequera
        let dicc_anys={};
        sequera.forEach((row,i)=>{
          if(i==0) return;
          let any   = row[0];
          let estat = row[1]
          dicc_anys[any]=estat;
        });

        let taula_cabals=[];
        cabals.forEach((row,i)=>{
          if(i==0) return;

          let codi_sad = row[0];
          let any      = row[1];

          let metadata = {
            codi_sad: dicc_noms[codi_sad],
            any: dicc_anys[any],
          };

          for(let j=2;j<row.length;j++){
            let nom_dada    = cabals[0][j];
            let valor_cabal = parseFloat(row[j].replace(",","."));
            let nova_fila = {
              codi_sad,
              any,
              nom_dada,
              valor_cabal,
              metadata,
            };
            taula_cabals.push(nova_fila);
          }
        });

        //return value
        let rv={
          dicc_noms,
          dicc_anys,
          taula_cabals,
        }
        app.taula_final = rv;
      },
    },
  }).mount("#app");
</script>
